<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.flutter.plugins.regula.documentreader.flutter_document_reader_api">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.NFC" />
</manifest>
